-if @result.empty?
  %h3 Вы ничего не нашли по запросу "#{params[:search]}"!
-else
  %table.table.table-condensed.table-hover
    %tr
      %th Индекс
      %th Имя опс
      %th Область
      %th Автономер
      %th Район
      %th Город
      %th Город_1


    -@result.each do |p|
      %tr
        %td= p.id
        %td= p.opsname
        %td= p.region
        %td= p.autonom
        %td= p.area
        %td= p.city
        %td= p.city_1
        %td= link_to 'Show', :controller => :postis, :action => :show, :id => p.id, :page => params[:page]
=will_paginate @result, :renderer => BootstrapPagination::Rails, :class => 'pagination pagination-mini pagination-centered'

