<%= form_for @owner do |f| %>
        <p>
            <%= f.label 'Фамилия'%><br>
            <%= f.text_field :fam %>
        </p>

        <p>
            <%= f.label 'Имя'%><br>
            <%= f.text_field :name %>
        </p>

        <p>
            <%= f.submit 'Добавить', {:class => 'btn btn-primary'}%>
        </p>
<% end %>

