<h3>Список владельцев</h3>
<% if admin_signed_in? %>
<p>Вы вошли в систему под именем:<%= current_admin.email  %> </p>

<%= link_to 'Выйти', destroy_admin_session_path, :method => :delete %>
<% end %>
<table class="table table-hover" >
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
  </tr>

  <% @owner.each do |o| %>
      <tr>
        <td><%= o.fam %></td>
        <td><%= o.name %></td>
        <td><%= link_to 'Добавить машину', :controller => :cars, :action => :new, :owner_id => o.id %></td>
        <td><%= link_to 'Показать машины владельца', :controller => :cars, :action => :index, :owner_id => o.id %></td>
        <td><%= link_to 'Редактировать', :action => :edit, :id => o.id %></td>
        <% if can? :destroy, @owner %>
        <td><%= link_to 'Удалить', {:action => :destroy, :id => o.id}, :method => :delete, :confirm => 'Вы уверены?' %></td>
        <% end %>
      </tr>
  <% end %>
</table>
<p><%= link_to 'Добавить нового владельца', :action => :new %></p>
<p><%= link_to 'Посмотреть почтовый индекс', :controller => :postis, :action => :index %></p>