<table class="table table-condensed table-hover">
  <tr>
    <th>Индекс</th>
    <th>Имя опс</th>
    <th>Область</th>
    <th>Автономер</th>
    <th>Район</th>
    <th>Город</th>
    <th>Город_1</th>

  </tr>
  <% @pos.each do |p| %>
  <tr>
    <td><%= p.id %></td>
    <td><%= p.opsname %></td>
    <td><%= p.region %></td>
    <td><%= p.autonom %></td>
    <td><%= p.area %></td>
    <td><%= p.city %></td>
    <td><%= p.city_1 %></td>
    <td><%= link_to 'Show', :action => :show, :id => p.id, :page => params[:page] %></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @pos, :renderer => BootstrapPagination::Rails, :class => 'pagination pagination-mini pagination-centered' %>