<table class="table table-hover">
  <tr>
    <th>Индекс</th>
    <th>Имя опс</th>
    <th>Тип опс</th>
    <th>Opssubm</th>
    <th>Область</th>
    <th>Автономер</th>
    <th>Район</th>
    <th>Город</th>
    <th>Город_1</th>
    <th>Дата сверки</th>
    <th>Старый индекс</th>
  </tr>
  <tr>
    <td><%= @pos.id %></td>
    <td><%= @pos.opsname %></td>
    <td><%= @pos.opstype %></td>
    <td><%= @pos.opssubm %></td>
    <td><%= @pos.region %></td>
    <td><%= @pos.autonom %></td>
    <td><%= @pos.area %></td>
    <td><%= @pos.city %></td>
    <td><%= @pos.city_1 %></td>
    <td><%= @pos.actdate %></td>
    <td><%= @pos.indexold %></td>
  </tr>
</table>
<%= link_to 'Назад', :action => :index, :page => params[:page] %>