<%= form_for @post do |f| %>
    <p>
      <%= f.label :brand %><br>
      <%= f.text_field :brand %>
    </p>

    <p>
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </p>

    <p>
      <%= f.label :nauto %><br>
      <%= f.text_field :nauto %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>