<%= form_for @post do |f| %>
    <p>
      <%= f.label 'Марка' %><br>
      <%= f.text_field :brand %>
    </p>

    <p>
      <%= f.label 'Модель' %><br>
      <%= f.text_field :model %>
    </p>

    <p>
      <%= f.label 'Номер авто' %><br>
      <%= f.text_field :nauto %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>