<h1>Listing cars</h1>

<table>
  <tr>
    <th>Brand</th>
    <th>Model</th>
    <th>Nauto</th>
  </tr>

  <% @post.each do |post| %>
      <tr>
        <td><%= post.brand %></td>
        <td><%= post.model %></td>
        <td><%= post.nauto %></td>
        <td><%= link_to 'Показать', :action => :show, :id => post.id %></td>
        <td><%= link_to 'Редактировать', :action => :edit, :id => post.id %></td>
        <td><%= link_to 'Удалить', {:action => :destroy, :id => post.id}, :method => :delete, :confirm => 'Вы уверены?' %></td>
      </tr>
  <% end %>
</table>
<%= link_to 'Новая запись', :action => :new %>