<%= form_for :post_sh, :url => { :action => :create } do |f| %>
    <% if @post_sh.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited
            this post from being saved:</h2>
          <ul>
            <% @post_sh.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label 'Марка' %><br>
      <%= f.text_field :brand %>
    </p>

    <p>
      <%= f.label 'Модель' %><br>
      <%= f.text_field :model %>
    </p>

    <p>
      <%= f.label 'Номер авто' %><br>
      <%= f.text_field :nauto %>
    </p>

    <p>
      <%= f.submit "Добавить машину", {:class => 'btn btn-primary'}%>
    </p>
<% end %>

<%= link_to 'Назад', :action => :index %>