<p>Brand <%= @post.brand %></p>
<p>Model <%= @post.model %></p>
<p>Nauto <%= @post.nauto %></p>
<%= link_to 'Назад', :action => :index %><br>
<%= link_to 'Редактирвать', :action => :edit, :id => @post.id %>